.rotationContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.rotateButton {
    background-color: #ebacd9; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem; 
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: background-color 0.1s ease;
    color: #333;
}

.rotateButton:hover {
    background-color: #e97cd5;
}

.rotateButton:active {
     background-color: #eb48b7;
     box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}